/* [href] {
  color: blue;
  font-size: 30px;
  height: 300px;
} */

/* a[href] {
  color: aqua;
} */

/* [target="_blank"] {
  color: rgb(228, 25, 25);
} */

/* [title~="tuhoc.cc"] {
    color: aquamarine;
} */

/* [title*="tuhoc.cc"]{
    color: blue;
    font-size: 30px;
} */

/* [title|="pic"] {
  color: rgb(18, 187, 217);
  font-size: 30px;
} */

/* [title^="pic"] {
  color: rgb(18, 187, 217);
  font-size: 30px;
} */

[title$="c"] {
  color: rgb(224, 107, 150);
  font-size: 30px;
}
