h1 {
  color: rebeccapurple;
  user-select: none;
}

.demo {
  color: yellow;
  user-select: none;
}

.demo2 {
  font-size: 20px;
}

#doan-van1 {
  color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}

.iteam_ul1 {
  list-style: none;
}
